.s-2 {
    padding-top: 55px;
  }
  .s-3{
      padding-top:55px ;
  }
  .container {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
  }
  .container-2{
      display: flex;
      justify-content:space-around;
      flex-direction:row;
      text-align: center;
      line-height: 1.5;
  }
  .container-3{
      padding: 110px;
  }
  .container-2 h3{
      font-size: 18px;
      font-weight: bold;
  }
  .container-2 p{
      font-size: 14px;
      color: gray;
    
  }
  
  .container-4{  
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 50px

     

  }
  .container-4 img{
      width: 252px;
      height: 252px;

      
  }



  h4 {
    color: #5863f8;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 15px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    
  }
  h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  form {
    display: flex;
    justify-content: space-between;
    height: 288px;
  }
  textarea,
  input {
    background-color: #f8f8f8;
    border: 2px solid #e8e8e8;
    outline: none;
    caret-color: gray;
    padding: 20px;
  }
  
  textarea {
    resize: none;
    max-width: 720px;
    width: 100%;
    height: 100%;
    margin-right: 16px;
  }
  
  input,
  button {
    height: 60px;
    width: 100%;
  }
  
  textarea::placeholder,
  input::placeholder {
    color: #cecece;
  }
  
  .inputs-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    max-width: 350px;
    width: 100%;
  }
  
  button {
    background-color: #5863f8;
    color: white;
    border: none;
    cursor: pointer;
  }
  footer{
      background-color: black;
      height: 395px;
  }
 
  .container-5 h1{
      color: whitesmoke;
      font-size: 25px;
      font-weight: bold;
      font-family: sans-serif;
  }
  .container-5 p{
    color: #B1B1B1;
    font-size: 15px;
    margin-top: 10px;
    line-height: 1.3;

  }
  .maindiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
    padding: 100px;
  }
  .listdiv-1 h1{
color: white;
font-size: 18px;
font-family: sans-serif;
  }
  .listdiv-1 ul{
    color: blue;
    cursor: pointer;
    line-height: 1.5;
  }
 
 
 

